<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duzon.lulu.allergy.mapper.AllergyMapper">

  <select id="getAllergyList" resultType="hashmap">
      SELECT allergy_idx AS value,
             allergy_nm AS label
      FROM allergy
  </select>

  <select id="getAllergiesFromMenu" resultType="hashmap">
      SELECT menu_idx, menu_allergy
      FROM menu
      WHERE menu_allergy != ''
  </select>

  <select id="getAllergyIdxMap" resultType="int">
      SELECT allergy_idx
      FROM allergy_ref
      WHERE allergy_ref = #{menu_allergy}
  </select>

  <update id="updateAllergyStringToCode" parameterType="hashmap">
      UPDATE menu
      SET menu_allergy = #{menu_allergy}
      WHERE menu_idx = #{menu_idx}
  </update>

</mapper>